{% extends 'basic.html' %}
{% block content %}
    {% if api.totalResults == 0 %}
        <h5 style="padding: 50px">No search Results returned for : ' {{keyword}} '</h5>
    {% elif keyword %}
        <h5 style="padding-top:20px;padding-left: 10px;">Top search results returned for ' {{keyword}} ' : </h5>
    {% endif %}

    <div class="card-columns" style="padding: 10px;padding-top: 20px">

    {% for img,new,des,url, pub in mylist %} 
      <div class="card">
        <a href="{{ url }}" target="_blank"><img src="{{ img }}" class="card-img-top" alt="no-image">
        <div class="card-body">
            <h5 class="card-title"><a href="{{url}}">{{new}}</a></h5>
            <p class="card-text">{{des}}</p>
            <p class="card-text"><small class="text-muted">{{pub}}</small></p>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}
        

   

